/**
 * Copyright 2019  mall 分布式商城
 * <p>
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * <p>
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * <p>
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

package ${package}.dto;

import com.mall.commons.tools.validator.group.DefaultGroup;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;

import java.io.Serializable;
import java.util.Date;
import lombok.Data;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
@Data
@ApiModel(value = "${comments}")
public class ${className}DTO implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
## 排除默认字段
#if($column.columnName != 'creator' && $column.columnName != 'create_time' && $column.columnName != 'updator' && $column.columnName != 'update_time' && $column.columnName != 'del_flag')
## 非空字段注解
#if($column.nullable == false && $column.columnName != 'id' && $column.defaultValue == false)
	@ApiModelProperty(value = "$column.comments", required = true)
#if($column.dataType == 'varchar')
	@NotBlank(message = "$column.comments 不能为空", groups = DefaultGroup.class)
    @Size(message = "$column.comments 长度不能超过$column.length", max = $column.length, groups = DefaultGroup.class)
#else
	@NotNull(message = "$column.comments 不能为空", groups = DefaultGroup.class)
#end
## 主键注解
#elseif($column.columnName == 'id')
	@ApiModelProperty(value = "$column.comments")
	@NotNull(message = "$column.comments 不能为空", groups = UpdateGroup.class)
## 可空字段注解
#else
	@ApiModelProperty(value = "$column.comments")
#end
	private $column.attrType $column.attrname;

#end
#end
}