/**
 * Copyright 2019  mall 分布式商城
 * <p>
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * <p>
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * <p>
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

package ${package}.service;

import ${main}.commons.mybatis.service.BaseService;
import ${main}.commons.tools.page.PageData;
import ${package}.dto.${className}DTO;
import ${package}.entity.${className}Entity;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
public interface ${className}Service extends BaseService<${className}Entity> {

    PageData<${className}DTO> page(Map<String, Object> params);

    List<${className}DTO> list(Map<String, Object> params);

    ${className}DTO get(Long id);

    void save(${className}DTO dto);

    void update(${className}DTO dto);

    void delete(Long[] ids);
}